@import url("https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
  .top-5 {
    top: 5%;
  }
  .top-10 {
    top: 10%;
  }
  .top-15 {
    top: 15%;
  }
  .top-20 {
    top: 20%;
  }
  .top-25 {
    top: 25%;
  }
  .top-30 {
    top: 30%;
  }
  .top-35 {
    top: 35%;
  }
  .top-full {
    top: 100%;
  }
  .left-10 {
    left: 10%;
  }
  .left-15 {
    left: 15%;
  }
  .-top-10 {
    top: -10%;
  }
  .-top-15 {
    top: -15%;
  }
  .-left-5 {
    left: -5%;
  }
  .-left-10 {
    left: -10%;
  }
  .-left-15 {
    left: -15%;
  }
  .filter-shadow {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
  }
}
